.sideNav{
    width: 10%;
    height: 15vh;
    background-color: rgb(29, 153, 29);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

    
    .services a{
        text-decoration: none;
        color: black;
    }
    .services a:hover{
        color: white;
    }
    
    .assignees a{
        text-decoration: none;
        color: black;
    }
    .assignees a:hover{
        color: white;
    }

    .wallet a{
        text-decoration: none;
        color: black;
    }

    .wallet a:hover{
        color: white;
    }

    .history a{
        text-decoration: none;
        color: black;
    }
    .history a:hover{
        color: white;
    }

    .todo a{
        text-decoration: none;
        color: black;
    }
    .todo a:hover{
        color: white;
    }
}

.arrow{
    height: 15vh;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.hidden{
    display: none;
}

Link{
    text-decoration: none;
}
