.full{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items:center;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;

    .upper{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;

        .one{
            width: 250px;
            height: 250px;
            background-color: rgb(126, 206, 126);
            border-radius: 50px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;

        }
        .one:hover{
            background-color: white;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
        }
    }

    .middle{
        width: 30%;
        height: 35%;
        display: flex;
        align-items: end;
        justify-content: center;
        

        .two{
            width: 250px;
            height: 250px;
            background-color: rgb(126, 206, 126);
            margin-right: 10px;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
        }
        .two:hover{
            background-color: white;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
        }
    
    }

    .lower{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        

        .three{
            width: 250px;
            height: 250px;
            background-color: rgb(126, 206, 126);
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            
        }
        .three:hover{
            background-color: white;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
        }
    }
    
    

    
    
}


