.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;



    .data{
        width:80%;
        height:400px ;
        background-color: yellow;
        margin: 10px 10px 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: start;

        .innerdata{
            display: flex;
            flex-direction: row;


            .image{
                width: 150px;
                height: 150px;
                border-radius: 100px;
                background-color: green;
                margin: 10px 10px 0px 10px;
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
    
               
            }

            .words{
                padding-left: 20px;
            }

        }
        

       
    }
}

.bottom{
    margin: 5px;
}