.main{
    width: 90%;
    
    

    .button{
        width: 300px;
        height: 100px;
        background-color: rgb(25, 160, 25);
        border-radius: 5px;
        margin: 50px;
        cursor: pointer;
        border-color: transparent;
    
    }

    .button:hover{
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    
}