.main{
    width: 90%;
    
    

    .button{
        width: 100px;
        height: 100px;
        background-color: green;
        border-radius: 5px;
        margin: 50px;
        cursor: pointer;
    
    }
    .button :hover{
        box-shadow: 50px 50px 50px 50px;
    }
}