.allsearch{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    .search{
        width: 25%;
        height: 5vh;
        border-radius: 15px;
        background-color: white;
        margin-right: 5px;
        

    }

    .icon{
        color: white;
        background-color: black;
    }
}

